@{
    ViewData["Title"] = "Home Page";
}
<a class="btn" asp-area="" asp-controller="Client" asp-action="Index">Client</a>
<a class="btn" asp-area="" asp-controller="Producer" asp-action="Index">Producer</a>

