@{
    ViewData["Title"] = "Home Page";
}

<div class="row align-items-center justify-content-center">
    <div class="centereddiv">
        <a class="btn btn-secondary active" asp-area="" asp-controller="Client" asp-action="Index"><h4>Client</h4></a>
        <a class="btn btn-secondary active" asp-area="" asp-controller="Producer" asp-action="Index"><h4>Producator</h4></a>
    </div>
</div>