@{
    Layout = "_ProducerLayout";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

<div id="orderJsGrid" style="margin-top: 4em"></div>


<script src="~/js/orderJsGrid.js" asp-append-version="true"></script>
<script>
    orderJsGrid.init();
</script>