@{
    Layout = "_ClientLayout";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>


<h1 style="margin:2em">Comanda ta a fost plasata</h1>
<div id="orderJsGrid"></div>


<script src="~/js/orderJsGrid.js" asp-append-version="true"></script>